@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.box {
  width: 100px;
  height: 100px;
  background-color: grey;
}
.handle {
  width: 80px;
  height: 30px;
  background-color: white;
}
.boxContainer {
  width: 500px;
  height: 500px;
  background-color: skyblue;
}

/* field */
.fd-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #142a50, #283e70);
}
.field {
  position: relative;
  width: 61.5vh;
  height: 95vh;
  background-color: #27ab5e;
  border: 0.6vh solid #fff;
}
.center-circle,
.penalty-area,
.goal-area,
.goal {
  position: absolute;
  border: 0.3vh solid #fff;
}
.center-circle {
  top: 50%;
  left: 50%;
  width: 16.5vh;
  height: 16.5vh;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.center-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.3vh;
  background-color: #fff;
}
.penalty-area {
  width: 36.46vh;
  height: 14.9vh;
}
.goal-area {
  width: 16.56vh;
  height: 4.92vh;
}
.goal {
  width: 6.6vh;
  height: 1vh;
  background-color: #fff;
}
.penalty-area.top,
.goal-area.top,
.goal.top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.penalty-area.bottom,
.goal-area.bottom,
.goal.bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.penalty-spot {
  position: absolute;
  width: 0.7vh;
  height: 0.7vh;
  background-color: #ffffff;
  border-radius: 50%;
}
.penalty-spot.top {
  top: 9.95vh;
  left: 50%;
  transform: translateX(-50%);
}
.penalty-spot.bottom {
  bottom: 9.95vh;
  left: 50%;
  transform: translateX(-50%);
}
/* field list */
.fieldList-container {
  position: absolute;
  right: 0%;
  width: 34vh;
  height: 95vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background: #eaeaea;
  border-bottom-left-radius: 10px;
}

.fieldList-Rtab {
  position: absolute;
  background: #eaeaea;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 5vh;
  height: 10vh;
  right: 33.9vh;
  display: flex;
  flex-direction: column;
}
.fieldList-RtabBtn {
  width: 4.9vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fieldList-RtabBtn:hover {
  cursor: pointer;
}
.fieldList-RtabPlayers {
  width: 4.9vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fieldList-RtabPlayersPlus {
  width: 4.4vh;
  height: 4.4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1266a;
  border-radius: 5px;
  transition: all 0.3s;
}
.fieldList-RtabPlayersPlus:hover {
  cursor: pointer;
  background-color: rgb(189, 51, 106);
}
.fieldList-Rtab-closed {
  position: absolute;
  background: #eaeaea;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 5vh;
  height: 10vh;
  right: 0;
  top: 2.5vh;
  display: flex;
  flex-direction: column;
}
.fieldList-RtabBtn-closed {
  width: 4.9vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fieldList-RtabBtn-closed:hover {
  cursor: pointer;
}
.fieldList-RtabPlayers-closed {
  width: 4.9vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fieldList-RtabPlayersCon-closed {
  width: 4.4vh;
  height: 4.4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #234291;
  border-radius: 5px;
  transition: all 0.3s;
}
.fieldList-RtabPlayersCon-closed:hover {
  cursor: pointer;
  background-color: #3b5fb9;
}
.fieldList-reorder {
  padding: 0;
  margin: 0;
}
.fieldList-list {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 28vh;
  height: 9vh;
  margin-top: 1vh;
  align-items: center;
  border-radius: 8px;
  background: #fff;
  gap: 0.5vh;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.fieldList-list:hover {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.2);
}
.fieldList-num {
  display: flex;
  width: 4vh;
  height: 4vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -14px;
  top: 12px;
  border-radius: 60px;
  background: #1f2024;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.fieldList-num-text {
  color: #fff;
  text-align: center;
  font-family: 'Inter';
  font-size: 1.8vh;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
}
.fieldList-textArea {
  position: relative;
  left: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5vh;
}
.fieldList-mainText {
  color: #1f2024;
  font-family: 'Inter';
  font-size: 1.8vh;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  align-self: stretch;
}
.fieldList-subText {
  color: #71727a;
  font-family: 'Inter';
  font-size: 1.3vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}
.fieldList-hamburgerIcon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 24vh;
  cursor: pointer;
}
